<%# Renders email / password login box.
    @param session [UserSession]
 %>
<div class="login-bar">
  <%= form_for session || UserSession.new, login_path do |f| -%>
    <div class="left" style="margin-right: 0.5em;">
      <%= f.text_field :email, :placeholder => "email address" %>
    </div>
    <div class="left" style="margin-right: 0.5em;">
      <%= f.password_field :password, :placeholder => "password" %>
    </div>

    <div class="right">
      <%= f.submit 'Login', :class => 'login-button' %>
    </div>

  <%- end -%>
</div>
