<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>H@B Ruby on Rails Workshop 11/29/11 - Amber Feng and Jon Ko</title>
    <meta charset='utf-8'>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <script src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  
  <style type='text/css'>
    .left  { float: left; }
    .right { float: right; }
    .inline { display: inline; }

    .strike { text-decoration: line-through; color: #888; }

    h4 {
      margin-bottom: 0.2em;
    }

    .slides > article a {
      color: #B52448;
    }

    .slides > article a:hover {
      color: #333;
    }

    .slides > #cover, .slides > .segue {
      background: #333;
      color: #ddd;
    }

    .slides > #cover h1, .slides > .segue h2 {
      color: #fff;
      font-family: 'Abel', Helvetica, sans-serif;
      text-transform: uppercase;
    }

    .slides > #cover a {
      color: #ddd;
    }

    .slides > #cover a:hover {
      color: #fff;
    }

    .slides > .segue h2 {
      font-size: 2.2em;
    }

    .slides > article h3 {
      font-size: 1.6em;
      font-family: 'Abel', Helvetica, sans-serif;
      text-transform: uppercase;
    }

    .slides > article.youtry h3 {
      font-size: 2em;
      color: #fff;
      background: #B52448;
      position: absolute;
      left: -20px;
      padding: 15px 0.7em;
    }

    .slides > article.youtry h3:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 0px;
      top: 100%;
      border-width: 7px 10px;
      border-style: solid;
      border-color: #850C2A #850C2A transparent transparent;
    }

    .slides > article.youtry {
      overflow: visible;
    }

    .slides > article.youtry .push {
      height: 2em;
      width: 1px;
      margin-bottom: 1em;
    }


    .slides > article div.source {
      top: auto;
      left: auto;
      bottom: 50px;
      right: 60px;
      padding-right: 0px; 
    }
  </style>

  <body style='display: none'>

    <section class='slides layout-regular'>
        
      <article id="cover">
        <div style="margin-top: 200px; width: 210px; float: left;">
          <img style="width: 100%" src="ruby.png">
        </div>
        <div style="margin-left: 230px;">
          <h1>
            H@B Ruby on Rails Workshop
          </h1>
          <p>
            <a href="http://www.amberfeng.com">Amber Feng</a> and Jon Ko
            <br>
            November 29, 2011
          </p>
        </div>
      </article>
      
      <article>
        <h3>
          Ruby on Rails? 
        </h3>
        <div>Web application framework, written in Ruby</div>

        <div class="left" style="margin-top: 1.6em; margin-right: 1em; width: 150px;">
          <img style="width: 100%" src="rails.png">
        </div>

        <p>
          <h4>Convention over Configuration</h4>
          Rails assumes it knows what you want
        </p> 

        <p>
          <h4>REST</h4>
          Organizing the application routing around resources and standard HTTP verbs
        </p>

        <p>
          <h4>MVC Framework (Model, View, Controller)</h4>
          Separate different aspects of the application - business logic vs. user interface, etc.
        </p>
      </article>

      <article class="segue">
        <h2>
          Demo App - Facebook
        </h2>
      </article>

      <article class="youtry smaller">
        <h3>Now you try...</h3>
        <div class="push">
        </div>
        <strong>Install Rails and clone our repo</strong>
        <ol>
          <li>
            <a href="http://rubyonrails.org/download">Install/update</a> your version of Rails (Rails 3!)
          </li>
          <li>
            Clone the repo with <code style="display: block;">git clone git@github.com:afeng/talks.git</code>
          </li>
          <li>
            Go to <code>rails-112911/facebook-exercises</code>
          </li>
          <li>
            Install any gems you're missing: <code>bundle install</code>
          </li>
          <li>
            Run the database migrations: <code>bundle exec rake db:migrate</code>
          </li>
          <li>
            Start the server to see things running: <code>rails s</code>
          </li>
        </ol>
      </article>

      <article class="youtry smaller">
        <h3>Now you try...</h3>
        <div class="push">
        </div>
        <strong>Adding comments for each post</strong>
        <ol>
          <li>
            Generate a <code>comment</code> model:
            <pre>rails generate model comment user:references post:references content:string</pre>
            <em>Note: Don't forget to run the database migrations after!</em>
          </li>
          <li>
            Create a method in the <code>PostsController</code>, along with the necessary routes in <code>routes.rb</code> for creating a new comment for a given post
          </li>
          <li>
            Add a form to the <code>_post.html.erb</code> view partial for posting comments
          </li>
        </ol>
      </article>

       <article class="segue">
        <h2>
          Rails Internals
        </h2>
      </article>

      <article>
        <h3>
          method_missing
        </h3>
        Method that gets invoked when the method you're trying to call doesn't exist (shocking, right?).
        <ul>
          <li>
            How metaprogramming magic like <code>find_by_*</code> is implemented (simplified):
<pre>
class Person < ActiveRecord::Base
  def self.method_missing method_name, *args
    if method_name =~ /^find_all_by_(\w+)$/
      self.all(:conditions => {$1 => args[0]})
    end
  end
end
</pre>
          <code>Person.find_by_name("amber")</code> => <code>Person.all(:conditions => {:name => "amber"})</code>
          </li>
        </ul>
      </article>

      <article>
        <h3>
          <a href="http://guides.rubyonrails.org/asset_pipeline.html">Asset Pipeline</a>
        </h3>
        <ul>
          <li>
            Concatenating, compressing, minifying assets (<code>js</code>, <code>css</code>)
              <ul>
                <li>By default, concatenate all files into one master file for each type</li>
                <li>
                  Specify which compressor to use
                  <pre>config.assets.css_compressor = :yui</pre>
                  <pre>config.assets.js_compressor = :closure</pre>
                  Note: The respective <code>yui-compressor</code> and <code>closure-compiler</code> gems need to be installed
                </li>
              </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3>Asset Pipeline</h3>
        <ul>
          <li>
            Using Sass, Haml, CoffeeScript, etc.
            <pre>
$blue: #3bbfce
$margin: 16px

.content-navigation
  color: darken($blue, 9%)
  div
    padding: $margin / 2</pre>

          </li>
          <li>Static files go in <code>public/</code> (as always), files to be pre-processed go in <code>app/assets/</code>
          <li>When files are requested, ex. <code>app.js.coffee</code>, processed by the appropriate gem first (<code>coffee-script</code>), then sent to the browser as <code>js</code> file
        </ul>
      </article>

      <article>
        <h3>Asset Pipeline: Fingerprinting</h3>
        <ul>
          <li>
            The old way: (timestamped)
            <pre>/stylesheets/global.css?1309495796</pre> 
          </li>
          <li>
            The new way:  (MD5 hash of file contents)
            <pre>/stylesheets/global-908e25f4bf641868d8683022a5b62f54.css</pre>
            <ul>
              <li>Allow maximum caching</li>
              <li>Better for multi-server environments where timestamps are not guaranteed to be the same</li>
            </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3>Rails Stack Flow</h3>
        <ol>
          <li>Client sends HTTP request</li>
          <li>Server (Apache, WEBRick, Mongrel, etc.) dispatches to Rails module</li>
          <li>Incoming request goes through the Rack middleware stack</li>
          <li>Your Rails app does its thing, passing its response to Rack</li>
          <li>Rack stack returns a response</li>
        </ol>
      </article>

      <!-- Insert other magic-like Rails things, snippets of Rails source code? -->

      <article class="segue">
        <h2>
          Best Practices
        </h2>
      </article>

      <article>
        <h3>Fat Model, Skinny Controller</h3>
        <ul>
          <li>Controller is the <span class="strike">1%</span> boss
            <ul>
              <li>Handles permissions, high-level 'business logic'</li>
              <li>Asks model to report data, crunch numbers, etc.<br/>(all that low-level stuff)</li>
              <li>Decides what model data needs to be passed to the view via <code>@instance_variables</code></li>
              <li>Decides which views to render to the client</li>
            </ul>
            </li>
          <li>Model is the MVC workhorse
            <ul>
              <li>Handles the 'implementation details'</li>
              <li>Closest to the database, so it should do most of the data processing</li>
            </ul>
            </li>
        </ul>
      </article>

      <article>
        <h3>ActiveRecord: Security</h3>

        <ul>
          <li>Use <code>attr_accessible</code> to whitelist user-assignable attributes and prevent form injection attacks
<pre>
class User &lt; ActiveRecord::Base

  # === List of columns ===
  #   name                : string
  #   email               : string
  #   crypted_password    : string
  #   approved            : boolean
  ...
  attr_accessible :name, :email
</pre>

<pre>
u = User.find(params[:id])         # Only updates :name, :email no
u.update_attributes(params[:user]) # matter what's in params[:user]
</pre>
            </li>
        </ul>
      </article>

      <article>
        <h3><a href="http://guides.rubyonrails.org/active_record_validations_callbacks.html">ActiveRecord: Validations</a></h3>
        <ul>
          <li>Make sure all <code>attr_accessible</code>'d attributes are validated</li>
          <li>especially since Rails enforces almost no constraints at the db level</li>
          <li>Whitelist, not blacklist:
            <pre>validates_format_of :name, :with =&gt; /\A[A-Za-z'\.]+\z/</pre>
            <ul>
              <li>Use <code>\A</code> and </code>\z</code> instead of <code>^</code> and <code>$</code> in regular expressions.</li>
              <li>The former match absolute beginning and end, while the latter only match per line</li>
            </ul>
            </li>
        </ul>
      </article>

      <article>
        <h3><a href="http://guides.rubyonrails.org/active_record_querying.html">ActiveRecord: Query Interface</a></h3>

        <ul>
          <li> Query methods return <dfn>relations</dfn> (lazy SQL queries) </li>
          <li> Relations are chainable, like jQuery </li>
          <pre>Talks.where( :host =&gt; 'H@B' ).order( :date )</pre>
          <li> Why not just chain them?:
            <pre>Talks.all.filter{...}.sort{...}</pre>
            <ul>
              <li> Queries make the database do the work </li>
              <li> Materialize only what you need &#8211; save memory, cycles</li>
            </ul>
            </li>
          <li> Offload common tasks to the DB:
              <span><a href="http://guides.rubyonrails.org/active_record_querying.html#existence-of-objects">existence</a></span>,
              <span><a href="http://guides.rubyonrails.org/active_record_querying.html#calculations">aggregates</a></span>
          </li>
        </ul>
      </article>

      <article>
        <h3><a href="http://api.rubyonrails.org/classes/ActiveRecord/NamedScope/ClassMethods.html#">ActiveRecord: Scopes</a></h3>

        <ul>
          <li><dfn>scope</dfn>s are like functions for relations</li>
          <li>Generally used to abstract specific subsets of DB entries
<pre>
scope :recent, where('updated_at &gt; ?', 1.day.ago)
scope :tagged, lambda { |tag_name|
  joins(:tags).where(:tags =&gt; {:label=&gt;tag_name}) }
</pre>
            </li>
          <li>Since relations are lazy-evaluated, we can also use scopes to conditionally filter results in an efficient way
<pre>
results = Post
results = results.recent           if options[:recent]
results = results.tagged('lulzy')  if options[:lulzy]
return results.all                 # query actually runs here
</pre>
            </li>
        </ul>
      </article>

      <article>
        <h3><a href="http://guides.rubyonrails.org/routing.html">Routes</a></h3>
        <ul>
          <li> Map URL &rarr; controller, action
            <pre>match "/aUrl" =&gt; "a_controller#an_action"</pre>
            </li>
          <li> Can declare parameters:
            <pre>match "/view/:post_id" =&gt; "posts#show"</pre>
            </li>
          <li> <dfn> <code>scope</code> </dfn> is like a folder for routes </li>
          <li> <dfn><code><a href="http://guides.rubyonrails.org/routing.html#controller-namespaces-and-routing">namespace</a></code></dfn>
               is a <code>scope</code> that also organizes code </li>
        </ul>
      </article>

      <article>
        <h3> Routes Protip #1: Action Splitting </h3>
        <ul>
          <li> Instead of <code>match</code>, split into two actions
            <pre>
get  "/login" =&gt; "user_session#new"
post "/login" =&gt; "user_session#create"</pre>
            </li>
          <li> Maintains consistency for form validation </li>
          <li> "Whitelist, not blacklist" &#8211; <code>match</code> encourages sloppy API
            <ul>
              <li> Do you really want <strong>GET /login</strong>, <strong>POST /login</strong>,
                   <strong>DELETE /login</strong> to do the same thing?? </li>
            </ul>
            </li>
        </ul>
      </article>

      <article>
        <h3> Routes Protip #2: Named Helpers </h3>
        <ul>
          <li> <em>Never ever</em> hard-code URLs outside of <code>routes.rb</code> </li>
          <li> Route names become controller &amp; view methods
            <pre>
resources :memes
namespace :admin do
  get '/x' =&gt; 'admin#x_all_the_y', :as =&gt; :uber
end</pre>
            <pre>&lt;%= link_to 'x ALL the y', admin_uber_path -%&gt; <span class='right'># '/admin/uber'</span> </pre>
            <pre>&lt;%= link_to 'x', meme_url(42) -%&gt; <span class='right'># 'http://mysite.com/memes/42'</span> </pre>
            </li>
          <li> Mostly use <code>_path</code>, and <code>_url</code> only to switch protocols </li>
        </ul>
      </article>

      <article class="youtry">
        <h3>Now you try...</h3>
        <div class="push">
        </div>
        <ol>
          <li>
            <strong>Security</strong>
            <p>
              Our user attributes aren't protected or sanitized. Whitelist the user-assignable attributes and add some validations.
            </p>
          </li>

          <li>
            <strong>Routes</strong>
            <p>
              Change the registration path from <code>/register</code> to <code>/signup</code>.<br/>
              Try actually signing up again -- do all the URLs use named path helpers?
            </p>
          </li>
        </ol>
      </article>

      <article class="segue">
        <h2>
          Performance
        </h2>
      </article>

      <article>
        <h3><a href="http://guides.rubyonrails.org/performance_testing.html">Find your Bottlenecks</a></h3>
        <ul>
          <li>
            <dfn>Benchmarking</dfn>: running code multiple times to measure pure speed
            <pre>rake test:benchmark</pre>
            <pre>
User.benchmark("Finding Friends") do ... end
</pre>
          </li>
          <li>
            <dfn>Profiling</dfn>: finding the slowest running part(s) of the program
            <ul>
              <li>Percentage of time, memory, etc. used in each method</li>
            </ul>
            <pre>rake test:profile</pre>
          </li>
        </ul>
      </article>

      <article>
        <h3>Caching</h3>
        Temporary storage of generated HTML to (in some cases) bypass Rails processing
        <ul>
          <li>First, enable caching
            <pre>config.action_controller.perform_caching = true</pre>
            (disabled by default for <code>development</code> and <code>test</code> environments)
          </li>
          <li>
            What level of caching to use?
            <ul>
              <li>Page Caching</li>
              <li>Action Caching</li>
              <li>Fragment Caching</li>
            </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3>Caching: Page Caching</h3>
        Allows page to be served by the webserver instead of going through the Rails stack
        <ul>
          <li>Faster, but for "static" pages only, not for dynamic/authenticated content</li>
          <li>GET parameters ignored, won't work for pagination ex. <code>users.html?page=1</code> vs <code>users.html?page=2</code></li>
        </ul>
        <pre>
class UsersController < ActionController
  caches_page :index
 
  def index
    @users = User.all
  end
end
</pre>
      </article>

      <article>
        <h3>Caching: Action Caching</h3>
        Request goes through the Rails stack first (ex. so filters can run), then cached copy is served
        <ul>
          <li>Pass in a block via <code>if</code> or <code>unless</code> to specify when the action should be cached</li>
          <li>Use <code>:layout => false</code> to cache without the layout (which typically contains logged in user information, etc</li>
        </ul>
        <pre>
class UsersController < ActionController
  before_filter :logged_in
  caches_action :index
 
  def index
    @users = User.all
  end
end
</pre>
      </article>

      <article>
        <h3>Caching: Fragment Caching</h3>
        Finer-grained control over caching specific parts of a page
<pre>
<%= @current_user.name if @current_user %>

<% cache do %>
  <% for i in @items %>
    <%= i.name %>
  <% end %>
<% end %>
</pre>
Or, name your cache block:
<pre>
<% cache :action => :show, :action_suffix => 'fragment-name' do %>
</pre>
<pre>
<% cache 'fragment-name' do %>
</pre>
  </li>
</ul>
      </article>

      <article>
        <h3>Caching: Page Expirations</h3>
        <ul>
          <li>The simple/tedious way:
<pre>
expire_[page|action] :action => :index
</pre>
<pre>
expire_fragment 'fragment-name'
</pre>
          </li>
          <li>
            Sweepers
<pre>
class UserSweeper < ActionController::Caching::Sweeper
  observe User 

  def after_create(user)
    expire_page :controller => :users, :action => :index
  end
end
</pre>
          </li>
        </ul>
      </article>

      <article>
        <h3>Perf Protip #1: Eager Loading</h3>
        Eagerly load associations to minimize number of queries

        <h4>Q: How many SQL queries are made? <span class="build"><span>A: 1 + 100 queries</span></span></h4>
<pre>
@posts = Post.all # 100 posts
for post in @posts
  puts post.author.name
end
</pre>

Instead, ask Rails to load all the referenced authors ahead of time with one query: <span class="build"><span><strong>= 2 queries total</strong></span></span>
<pre>
@posts = Post.includes(:author).all
</pre>  

<a href="https://github.com/flyerhzm/bullet">Bullet</a> to help you track N + 1 queries!
  
      </article>
      
      <article>
        <h3>Perf Protip #2: Asynchrony</h3>
        Send a response back ASAP, let long running jobs (ex. file uploading, sending emails) run in the background
        <ul>
          <li>
          <li><code><a href="https://github.com/tobi/delayed_job">DelayedJob</a></code></li>
<pre>
class EmailingJob < Struct.new(:text, :emails)
  def perform
    emails.each { |e| Mailer.send_email(e, text) }
  end    
end  

Delayed::Job.enqueue EmailJob.new('content', @emails)
</pre>
<pre>
rake jobs:work
</pre>
          <li><a href="http://momentapp.com/">Moment</a></li>
        </ul>
      </article>

      <article>
        <h3>Perf Protip #3: Indexes</h3>
        <dfn>Database index</dfn>: data structures to speed up database lookups either on random lookups (hash) or ordered/range lookups (tree)

<pre>
def self.up
  add_index :users, :last_name
end
</pre>
        <h4>Where might I need indexes?</h4>
        <ul style="margin-top: 0.2em;">
          <li>Indexes created on primary keys by default, but what about foreign keys (commonly needed)?</li>
          <li>Columns that you need to sort on</li>
        </ul>
        <p style="margin-top: 1em;"><a href="https://github.com/eladmeidar/rails_indexes">Helper plugins</a> exist to help you find where you should be using them!</p>
      </article>

      <article class="youtry">
        <h3>Now you try...</h3>
        <div class="push">
        </div>
        <ol>
          <li>
            <strong>Caching</strong>
            <p>
            Add caching in (fill in), complete with cache expirations (the old fashioned way).
            </p>
          </li>
          <li>
            <strong>Eager Loading</strong>
            <p>
            Optimize the newfeed rendering by eagerly loading <code>authors</code> and <code>comments</code> with <code>posts</code>. Extra for experts: confirm the optimization with an <code>benchmark do ... end</code> block.
            </p>
          </li>
          <li>
            <strong>Add Indexes</strong>
            <p>
            Add an index to the <code>posts</code> table. Hint: which column(s) require lookups or sorts?
            </p>
          </li>
        </ol>
      </article>

      <article class="segue">
        <h2>
          Security
        </h2>
      </article>

      <article>
        <q>Whitelist, don't blacklist.</q>
      </article>

      <article>
        <h3>Session Hijacking</h3>
        Impersonating someone by stealing their session_id (which an app uses in place of re-logging in every time)
        <ul>
          <li>
            Sniffing the cookie in an insecure network (ex. <a href="http://codebutler.com/firesheep">Firesheep</a>). 
            <ul>
              <li>
                Force SSL:
                <pre>config.force_ssl = true</pre>
              </li>
              <li>
                Expire sessions (on the server)
              </li>
            </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3>Cross-site Request Forgery (CSRF)</h3>
        Malicious code taking advantage of the fact that a user is "logged in" elsewhere

        <div style="margin-top: 1em; text-align: center;"><img src="csrf.png"></div>
        <div class="source">Source: <a href="http://guides.rubyonrails.org/security.html">Ruby on Rails Guide, Security</a></div>
      </article>

      <article>
        <h3>Cross-site Request Forgery (CSRF)</h3>
        <h4>So, how do we protect against CSRF?</h4>
        <ul style="margin-top: 0.2em;">
          <li>Use GET and POST appropriately</li>
          <li>
            Built-in Rails protection: includes a security token to go along with non-GET requests
<pre>
protect_from_forgery
</pre>
<pre>
&lt;input name="authenticity_token" type="hidden" 
  value="01048766ce9a8a001a85386a9502f64e64991ea8" /&gt;</pre>
            <ul>
              <li>If doesn't match, resets session and raise <code>ActionController::InvalidAuthenticityToken</code></li>
            </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3>Cross-site Scripting (XSS)</h3>
        Without properly sanitizing user input, client-side executable code can be injected
        <h4>How it happens:</h4>
        <ol>
          <li>
            Attacker writes a comment in a blog with the code
            <pre>&lt;script type="text/javascript"&gt;alert("HACKHACKHACK");&lt;/script&gt;</pre>
          </li>
          <li>
            The web application naively saves the content in the database, without santizing anything
          </li>
          <li>
            When users visit the site, the web application prints out the raw content of each content, thus executing the Javascript
          </li>
        </ol>
      </article>

      <article>
        <h3>Cross-site Scripting (XSS)</h3>
        <h4>Malicious uses</h4>
        <ul>
          <li>
            Cookie theft, session fixation, other bad things
          </li>
        </ul>

        <h4>Countermeasures</h4>
        <ul>
          <li>Input filtering (whitelist, don't blacklist)</li>
          <li>Escape HTML when redisplaying user input
            <pre><%=h comment.content %></pre>
            Rails now does this by default, so use <code><%=raw %></code> when you <em>don't</em> want HTML escaping
          </li>
        </ul>
      </article>

      <article>
        <h3>SQL Injection</h3>
        <div style="margin-top: 4.5em; text-align: center;">
          <img src="xkcd_sqlinjection.png">
        </div>
        <div class="source">
          Source: <a href="http://xkcd.com/327/">XKCD, Exploits of a Mom</a>
        </div>
      </article>

      <article class="segue">
        <h2>
          Practical Things
        </h2>
      </article>

      <article>
        <h3>
          Rails Must-Haves
        </h3>
        <ul>
          <li>Authentication (<code><a href="https://github.com/technoweenie/restful-authentication">restful_authentication</a></code>, <code><a href="https://github.com/binarylogic/authlogic">authlogic</a></code>)</li>
          <li>Emailing (<code><a href="http://guides.rubyonrails.org/action_mailer_basics.html">ActionMailer</a></code>)</li>
          <li>File Uploads (<code><a href="https://github.com/thoughtbot/paperclip">paperclip</a></code>, <code><a href="https://github.com/technoweenie/attachment_fu">attachment_fu</a></code>)</li>
          <li>Exception Notification (<code><a href="https://github.com/rails/exception_notification">exception_notification</a></code>, <a href="http://airbrake.io/pages/home">Airbrake</a>)</li>
          <!--<li>What_column</li>-->
        </ul>
      </article>

      <article>
        <h3> Deploying: <a href="http://www.heroku.com/">Heroku</a> </h3>
        <ul>
          <li>Heroku is a (starting for free!) cloud host for Rails, node.js, Python, and friends</li>
          <li>Service-oriented: You provide app, they provide everything else</li>
          <li><a href="http://devcenter.heroku.com/articles/quickstart">Setup</a>
            <ol>
              <li>Add <code>gem heroku</code> to your Gemfile</li>
              <li><code>heroku auth:login</code></li>
              <li><code>heroku create [APP NAME] [-s STACK]</code><br/>
                  or <code>git remote add heroku git@heroku.com:appname.git</code>
                </li>
              <li><code>git push heroku master</code></li>
            </ol>
            </li>
      </article>

      <article>
        <h3> Heroku: Stacks on Deck... </h3>
        <ul>
           <li>Two deployment configurations: <em>bamboo</em> and <em>cedar</em>
           <li>Cedar is kind of beta but is <a href="http://devcenter.heroku.com/articles/rails3">the more flexible stack</a>
             <ul>
               <li>Finer control over server and worker processes</li>
               <li>It's also the only one that supports Rails 3.1</li>
             </ul>
             </li>
           <li><code>heroku create -s cedar [APP NAME]</code></li>
        </ul>
      </article>

      <article>
        <h3><a href="https://github.com/capistrano/capistrano/wiki/2.x-Getting-Started">Deploying: Capistrano</a></h3>

        <ul>
          <li>It's like <code>make</code> for deployment</li>
          <li>Allows you to perform common tasks like migration, cleanup without ssh<li>
          <li><code>cap deploy</code> directs production server to checkout a fresh copy of the app</li>
          <li>Can add custom tasks, e.g. a prompt to populate sensitive configuration files</li>
        </ul>
      </article>

      <article>
        <h3>Gems</h3>
        <ul>
          <li>Prepackaged external plugins, loaded during Rails init</li>
          <li><code>Gemfile</code> is a manifest of all gems your app needs to run</li>
          <li><code>bundle</code> ensures all Gemfile gems are installed</li>
          <li><code>gem</code> shows and configures individual gems. Usually don't use this directly, as of Rails 3.</li>
          <li><code>Gemfile.lock</code> indicates known-good versions of Gemfile gems, and <em>should be checked in</em> to your source tree</li>
          <li><code>bundle package</code> caches Gemfile.lock'd gems locally. Useful for fast, non-Heroku deployment</li>
          </li>
        </ul>
      </article>

      <article>
        <h3>
            <a href="http://beginrescueend.com/">RVM (Ruby Version Manager)</a>
        </h3>
        <ul>
          <li> Sandboxes Ruby / Gem installations
            <ul>
              <li> One <code>ruby</code> version has multiple <code>gemset</code>s </li>
              <li> One <code>gemset</code> per project / Gemfile </li>
            </ul>
            </li>
          <li> Essential when working on multiple projects...
            <ul>
              <li> <code>rvm 1.8.7@hkn</code> with Rails 3.0 for HKN </li>
              <li> <code>rvm 1.9.2@wdd</code> with Rails 3.0 for Web Design </li>
              <li> <code>rvm 1.9.2@jk</code> with Rails 3.1 for personal site </li>
            </ul>
            </li>
          <li> ... or if you don't have <code>sudo</code>
            <ul>
              <li> Installs everything (ruby and gems) into <code>~/.rvm/</code> </li>
            </ul>
            </li>
        </ul>
      </article>

      <article class="youtry">
        <h3>Now you try...</h3>
        <div class="push">
        </div>
        <ol>
          <li>
            <strong>Make it live!</strong>
            <p>
              Go sign up for a Heroku account and push your app!
            </p>
          </li>
        </ol>
      </article>

      <article class="segue">
        <h2>
          Thanks! Any questions?
        </h2>
      </article>

    </section>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17135760-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>

