<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>H@B Ruby on Rails Workshop 11/29/11 - Amber Feng and Jon Ko</title>
    <meta charset='utf-8'>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <script src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type='text/javascript'>
      $(document).ready( function(){
        /* Wrap elements having data-url in an appropriate a */
        $('*[data-url]').wrap( function(){
          return $('<a></a>').attr( 'href', $(this).attr( 'data-url' ) );
        });
      });
    </script>
  </head>
  
  <style type='text/css'>
    .left  { float: left; }
    .right { float: right; }
    .inline { display: inline; }

    .slides > article h4 {
      margin-bottom: 0.2em;
    }

    .slides > #cover, .slides > .segue {
      background: #333;
      color: #ddd;
    }

    .slides > #cover h1, .slides > .segue h2 {
      color: #fff;
      font-family: 'Abel', Helvetica, sans-serif;
      text-transform: uppercase;
    }

    .slides > .segue h2 {
      font-size: 2.2em;
    }

    .slides > article h3 {
      font-size: 1.6em;
      font-family: 'Abel', Helvetica, sans-serif;
      text-transform: uppercase;
    }
  </style>

  <body style='display: none'>

    <section class='slides layout-regular'>
        
      <article id="cover">
        <div style="margin-top: 200px; width: 200px; float: left;">
          <img style="width: 100%" src="ruby.png">
        </div>
        <div style="margin-left: 220px;">
          <h1>
            H@B Ruby on Rails Workshop
          </h1>
          <p>
            Amber Feng and Jon Ko
            <br>
            November 29, 2011
          </p>
        </div>
      </article>
      
      <article>
        <h3>
          Introduction
        </h3>
        <ul>
          <li>
            Amber Feng
              <ul>
                <li>4th year EECS major</li>
                <li>Lots of web dev, startups, hacks, etc</li>
                <li><a href="http://www.amberfeng.com">http://www.amberfeng.com</a></li>
              </ul>
          </li>
          <li>
            Jon Ko
            <ul>
              <li>4th year EECS major</li>
              <li>...</li>
            </ul>
          </li>
          <li>
            <a href="http://www.webdesigndecal.com">Web Design Decal</a>
          </li>
          <li>
            <a href="http://hkn.eecs.berkeley.edu">HKN Website</a> 
          </li>
          </li>
        </ul>
      </article>

      <article>
        <h3>
          Ruby on Rails? 
        </h3>
        <div>Web application framework, written in Ruby</div>

        <div class="left" style="margin-top: 1.6em; margin-right: 1em; width: 150px;">
          <img style="width: 100%" src="rails.png">
        </div>
        <p>
          <h4>DRY - "Don't Repeat Yourself"</h4>
          Duplicate code is bad
        </p>

        <p>
          <h4>Convention over Configuration</h4>
          Rails assumes it knows what you want
        </p> 

        <p>
          <h4>REST</h4>
          (fill in) 
        </p>

        <p>
          <h4>MVC Framework (Model, View, Controller)</h4>
          (fill in)
        </p>
      </article>

      <article class="segue">
        <h2>
          Demo App - Facebook
        </h2>
      </article>

       <article class="segue">
        <h2>
          Rails Internals
        </h2>
      </article>

      <article>
        <h3>
          method_missing
        </h3>
        Method that gets invoked when the method you're trying to call doesn't exist (shocking, right?).
        <ul>
          <li>
            How metaprogramming magic like <code>find_by_*</code> is implemented (simplified):
<pre>
class Person < ActiveRecord::Base
  def self.method_missing method_name, *args
    if method_name =~ /^find_all_by_(\w+)$/
      self.all(:conditions => {$1 => args[0]})
    end
  end
end
</pre>
          <code>Person.find_by_name("amber")</code> => <code>Person.all(:conditions => {:name => "amber"})</code>
          </li>
        </ul>
      </article>

      <article>
        <h3>
          Asset Pipeline
        </h3>
        <ul>
          <li>
            Concatenating, compressing, minifying assets (<code>js</code>, <code>css</code>)
              <ul>
                <li>By default, concatenate all files into one master file for each type</li>
                <li>
                  Specify which compressor to use
                  <pre>config.assets.css_compressor = :yui</pre>
                  <pre>config.assets.js_compressor = :closure</pre>
                  Note: The respective <code>yui-compressor</code> and <code>closure-compiler</code> gems need to be installed
                </li>
              </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3>Asset Pipeline (cont'd)</h3>
        <ul>
          <li>
            Using Sass, Haml, CoffeeScript, etc.
            <pre>
$blue: #3bbfce
$margin: 16px

.content-navigation
  color: darken($blue, 9%)
  div
    padding: $margin / 2</pre>

          </li>
          <li>Static files go in <code>public/</code> (as always), files to be pre-processed go in <code>app/assets/</code>
          <li>When files are requested, ex. <code>app.js.coffee</code>, processed by the appropriate gem first (<code>coffee-script</code>), then sent to the browser as <code>js</code> file
        </ul>
      </article>

      <article>
        <h3>Asset Pipeline: Fingerprinting</h3>
        <ul>
          <li>
            The old way: (timestamped)
            <pre>/stylesheets/global.css?1309495796</pre> 
          </li>
          <li>
            The new way:  (MD5 hash of file contents)
            <pre>/stylesheets/global-908e25f4bf641868d8683022a5b62f54.css</pre>
            <ul>
              <li>Allow maximum caching</li>
              <li>Better for multi-server environments where timestamps are not guaranteed to be the same</li>
            </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3>
          Rails Stack Flow
        </h3>
        <ul>
          <li>
            (fill in, possibly with a diagram?)
          </li>
        </ul>
      </article>

      <!-- Insert other magic-like Rails things, snippets of Rails source code? -->

      <article class="segue">
        <h2>
          Best Practices
        </h2>
      </article>

      <article>
        <h3 data-url="http://guides.rubyonrails.org/active_record_querying.html"> ActiveRecord Query Interface </h3>

        <ul>
          <li> Queries are chainable, like jQuery </li>
          <pre>Talks.where( :host =&gt; 'H@B' ).order( :date )</pre>
          <li> Why not just chain them all?:
            <pre>Talks.all.filter{...}.sort{...}</pre>
            <ul>
              <li> Queries make the database do the work </li>
              <li> Materialize only what you need &#8211; save memory and cycles</li>
            </ul>
            </li>
          <li> Offload common tasks to the DB
            <ul>
              <li> <span data-url="http://guides.rubyonrails.org/active_record_querying.html#existence-of-objects">existence</span>,
                   <span data-url="http://guides.rubyonrails.org/active_record_querying.html#calculations">aggregates</span>
              </li>
            </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3> Routes </h3>
        <ul>
          <li> Map URL &rarr; controller, action
            <pre>match "/aUrl" =&gt; "a_controller#an_action"</pre>
            </li>
          <li> Can declare parameters:
            <pre>match "/view/:post_id" =&gt; "posts#show"</pre>
            </li>
          <li> <dfn> <code>scope</code> </dfn> is like a folder for routes </li>
          <li> <dfn data-url="http://guides.rubyonrails.org/routing.html#controller-namespaces-and-routing"><code>namespace</code></dfn>
               is a <code>scope</code> that also organizes code </li>
        </ul>
      </article>

      <article>
        <h3> Routes Protip #1: Action Splitting </h3>
        <ul>
          <li> Instead of <code>match</code>, split into two actions
            <pre>
get  "/login" =&gt; "user_session#new"
post "/login" =&gt; "user_session#create"</pre>
            </li>
          <li> Maintains consistency for form validation </li>
          <li> "Whitelist, not blacklist" &#8211; <code>match</code> encourages sloppy API
            <ul>
              <li> Do you really want <strong>GET /login</strong>, <strong>POST /login</strong>,
                   <strong>DELETE /login</strong> to do the same thing?? </li>
            </ul>
            </li>
        </ul>
      </article>

      <article>
        <h3> Routes Protip #2: Named Helpers </h3>
        <ul>
          <li> <em>Never ever</em> hard-code URLs outside of <code>routes.rb</code> </li>
          <li> Route names become controller &amp; view methods
            <pre>
resources :memes
namespace :admin do
  get '/x' =&gt; 'admin#x_all_the_y', :as =&gt; :uber
end</pre>
            <pre>&lt;%= link_to 'x ALL the y', admin_uber_path -%&gt; <span class='right'># '/admin/uber'</span> </pre>
            <pre>&lt;%= link_to 'x', meme_url(42) -%&gt; <span class='right'># 'http://mysite.com/memes/42'</span> </pre>
            </li>
          <li> Mostly use <code>_path</code>, and <code>_url</code> only to switch protocols </li>
        </ul>
      </article>

      <!-- Insert other Best Practices slides? -->

      <article class="segue">
        <h2>
          Performance
        </h2>
      </article>

      <article>
        <h3>Find your Bottlenecks</h3>
      </article>

      <article>
        <h3>Caching</h3>
        Temporary storage of generated HTML pages to avoid requests from having to go through the (slower) Rails stack.
        <ul>
          <li>First:
            Enable caching
            <pre>config.action_controller.perform_caching = true</pre>
            (Disabled by default for <code>development</code> and <code>test</code> environments)
          </li>
          <li>
            Next: 
            What level of caching to use?
            <ul>
              <li>Page Caching</li>
              <li>Action Caching</li>
              <li>Fragment Caching</li>
            </ul>
          </li>
        </ul>
      </article>

      <article>
        <h3>Caching: Page Caching</h3>
        Allows page to be served by the webserver instead of going through the Rails stack.
        <ul>
          <li>Faster, but for "static" pages only, not for dynamic/authenticated content</li>
          <li>GET parameters ignored, won't work for pagination ex. <code>users.html?page=1</code> vs <code>users.html?page=2</code></li>
        </ul>
        <pre>
class UsersController < ActionController
  caches_page :index
 
  def index
    @users = User.all
  end
end
</pre>
      </article>

      <article>
        <h3>Caching: Action Caching</h3>
        Request goes through the Rails stack first (ex. so filters can run), then cached copy is served.
        <ul>
          <li>Pass in a block via <code>if</code> or <code>unless</code> to specify when the action should be cached</li>
          <li>Use <code>:layout => false</code> to cache without the layout (which typically contains logged in user information, etc</li>
        </ul>
        <pre>
class UsersController < ActionController
  before_filter :logged_in
  caches_action :index
 
  def index
    @users = User.all
  end
end
</pre>
      </article>

      <article>
        <h3>Caching: Fragment Caching</h3>
        Fine-grained control over caching specific parts of a page.
<pre>
<%= @current_user.name if @current_user %>

<% cache do %>
  <% for i in @items %>
    <%= i.name %>
  <% end %>
<% end %>
</pre>
Or, name your cache block:
<pre>
<% cache :action => :show, :action_suffix => 'fragment-name' do %>
</pre>
<pre>
<% cache 'fragment-name' do %>
</pre>
  </li>
</ul>
      </article>

      <article>
        <h3>Caching: Page Expirations</h3>
        <ul>
          <li>The simple/tedious way:
<pre>
expire_[page|action] :action => :index
</pre>
<pre>
expire_fragment 'fragment-name'
</pre>
          </li>
          <li>
            Sweepers
            <pre>
class UserSweeper < ActionController::Caching::Sweeper
  observe User 

  def after_create(user)
    expire_page :controller => :users, :action => :index
  end
end
</pre>
          </li>
        </ul>
      </article>

      <article>
        <h3>Rails Performance Tips</h3>
        <ul>
          <li>
            Eagerly load associations to minimize number of queries
            <pre>
users = User.includes(:photo).all
users.each { |user| puts user.photo.url }
</pre>  
          </li>
          <li>
            Include as much asynchrony as possible (<code>DelayedJob</code>/<code>BackgroundJob</code>)
          </li>
          <li>
            Template inlining
          </li>
          <li>
            SQL Caching
              <ul>
                <li>Rails does this already, within actions</li>
              </ul>
          </li>
        </ul>
      </article>

      <article class="segue">
        <h2>
          Security
        </h2>
      </article>

      <article>
        <q>Whitelist, don't blacklist.</q>
      </article>

      <article>
        <h3>Session Hijacking</h3>
      </article>

      <article>
        <h3>Cross-site Request Forgery (CSRF)</h3>
      </article>

      <article>
        <h3>Cross-site Scripting (XSS)</h3>
      </article>

      <article>
        <h3>SQL Injection</h3>
      </article>

      <article class="segue">
        <h2>
          Practical Things
        </h2>
      </article>

      <article>
        <h3>
          Rails Must-Haves
        </h3>
        <ul>
          <li>Authentication (<code>restful_authentication</code>, <code>authlogic</code>)</li>
          <li>Emailing (<code>ActionMailer</code>)</li>
          <li>File uploads (<code>paperclip</code>, <code>attachment_fu</code>)</li>
          <li>Exception Notification (<code>exception_notification</code>, Hoptoad)</li>
          <!--<li>What_column</li>-->
        </ul>
      </article>

      <article>
        <h3>
          Deploying
        </h3>
        <ul>
          <li>
            Heroku
          </li>
          <li>
            Capistrano
          </li>  
        </ul>
      </article>

      <article>
        <h3>
          Gems
        </h3>
        <ul>
          <li>
            (fill in)
          </li>
        </ul>
      </article>

      <article>
        <h3>
            <a href="http://beginrescueend.com/">RVM (Ruby Version Manager)</a>
        </h3>
        <ul>
          <li> Sandboxes Ruby / Gem installations
            <ul>
              <li> One <code>ruby</code> version has multiple <code>gemset</code>s </li>
              <li> One <code>gemset</code> per project / Gemfile </li>
            </ul>
            </li>
          <li> Essential when working on multiple projects...
            <ul>
              <li> <code>rvm 1.8.7@hkn</code> with Rails 3.0 for HKN </li>
              <li> <code>rvm 1.9.2@wdd</code> with Rails 3.0 for Web Design </li>
              <li> <code>rvm 1.9.2@jk</code> with Rails 3.1 for personal site </li>
            </ul>
            </li>
          <li> ... or if you don't have <code>sudo</code>
            <ul>
              <li> Installs everything (ruby and gems) into <code>~/.rvm/</code> </li>
            </ul>
            </li>
        </ul>
      </article>

      <!--
      <article>
        <h3>
          Slide with an image
        </h3>
        <p>
          <img style='height: 500px' src='images/example-graph.png'>
        </p>
        <div class='source'>
          Source: Sergey Brin
        </div>
      </article>

      <article>
        <h3>
          Slide with an image (centered)
        </h3>
        <p>
          <img class='centered' style='height: 500px' src='images/example-graph.png'>
        </p>
        <div class='source'>
          Source: Larry Page
        </div>
      </article>

      <article class='fill'>
        <h3>
          Image filling the slide (with optional header)
        </h3>
        <p>
          <img src='images/example-cat.jpg'>
        </p>
        <div class='source white'>
          Source: Eric Schmidt
        </div>
      </article>

      <article>
        <h3>
          This slide has some code
        </h3>
        <section>
        <pre>
          // Code 
          1 < 4
        </pre>
        </section>
      </article>
      
      <article class='smaller'>
        <h3>
          This slide has some code (small font)
        </h3>
        <section>
        <pre>
          // Code
        </pre>
        </section>
      </article>
      
      <article>
        <q>
          The best way to predict the future is to invent it.
        </q>
        <div class='author'>
          Alan Kay
        </div>
      </article>
      
      <article class='smaller'>
        <q>
          A distributed system is one in which the failure of a computer 
          you didn’t even know existed can render your own computer unusable.
        </q>
        <div class='author'>
          Leslie Lamport
        </div>
      </article>
      
      <article class='nobackground'>
        <h3>
          A slide with an embed + title
        </h3>
        
        <iframe src='http://www.google.com/doodle4google/history.html'></iframe>
      </article>

      <article class='nobackground'>
        <iframe src='http://www.google.com/doodle4google/history.html'></iframe>
      </article>

      <article class='fill'>
        <h3>
          Full-slide embed with (optional) slide title on top
        </h3>
        <iframe src='http://www.google.com/doodle4google/history.html'></iframe>
      </article>
      
      <article>
        <h3>
          Thank you!
        </h3>
        
        <ul>
          <li>
            <a href='http://www.google.com'>google.com</a>
        </ul>
      </article>
    -->
    </section>
  </body>
</html>

