/************
  Global
 ************/

body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.left  { float: left; }
.right { float: right; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

input[type='submit'],
input[type='button'] {
  background: #D15956;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
}

input[type='text'],
input[type='password']
{
  font-size: 0.8em;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
  display: inline-block;
}

.dropdown-menu-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f8aaaa;
  padding: .5em;
}
.dropdown-menu-content li {
  margin: 0;
  cursor: pointer;
}

.dropdown-menu.open .dropdown-menu-content {
  display: block;
}

.dropdown-menu .dropdown-button {
  width: 12pt;
  height: 100%;
  text-align: center;
  padding: 2pt 5pt;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.dropdown-menu .dropdown-button:hover {
  background-color: #b80b05;
}

#page {
  width: 100%;
}

ul.plain {
  list-style: none;
  -webkit-padding-start: 0px;
}

.inline {
  display: inline-block;
}

label {
  font-size: 0.75em;
  text-transform: uppercase;
}

/************
  Navbar
 ************/

#navbar {
  width: 100%;
  background-color: #980905;
  color: white;
  padding: 0.5em 0;
}

#nav-wrapper{
  width: 980px;
  margin: auto;
}

.profile-menu {
  margin-top: 5px;
  position: relative;
}

#messages {
  display: block;
  margin: 0 auto;
  background-color: lightyellow;
}

/************
  Home
 ************/

#inner-content {
  width: 980px;
  margin: 0 auto;
  padding: 2em 0em;
}

#splash-gradient {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#DBC1C1));
}

#people {
  float: left;
  width: 30%;
}

#newsfeed {
  float: left;
  width: 65%;
}

#status-box {
  background: #F0DDDD;
  border: 1px solid #F0CAC9;
  padding: 0.5em;
  width: 100%;
}

#status-box textarea {
  height: 35px;  
  width: 90%;
}

#status-box input[type=submit] {
  display: block;
  float: right;
}

.newsfeed-item {
  margin-bottom: 1em;
}

.newsfeed-item-left {
  float: left;
  margin-right: 1em;
}

.newsfeed-item-right {
  float: left;
  width: 89%;
}

.newsfeed-item .photo {
  display: block;
  width: 50px;
  height: 50px;
  background: #ddd;
}

.newsfeed-item .author {
  display: block;
  margin-bottom: 0.2em;
}

.newsfeed-item .content {
  display: block;
  font-size: 0.9em;
  word-wrap: break-word;
}

newsfeed-item-right {
  float: left;
}

.box {
  margin: auto;
  margin-top: 2em;
  background: #F0DDDD;
  border: 1px solid #F0CAC9;
  padding: 1em;
}
